body, html {
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: bolder;
	font-size: 54px;
	letter-spacing: 4px;
}

h2 {
	font-weight: bold;
	font-size: 32px;
}

* {
	font-family: 'Raleway', sans-serif;
	font-size: 17px;
	line-height: 1.6em;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0;
}